*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

body, html { 
    margin:0; 
    padding:0; 
    height:100%; 
} 

Header ul{
    text-align:center;
    font-size: 18px;
    padding:5px; text-align:right;
    background-color: #074272;

}

Header ul li a{
    color: white;
    text-decoration: none;
    padding: 15px;
}
 
Header ul li a:hover{
    color: rgb(206, 206, 200);
    border-radius: 30px;
    opacity: 1;
}

header ul li{
    padding: 15px;
    display:inline-block;
}

body {
    background-color: white;
    overflow: hidden;
}

section {
    padding-top: 100px;
    font-family: 'Century Gothic';
    padding-bottom: 5px;
    text-align: center;
    font-size: 35px;
    color: white;
    width: 100%;

}

body {
    height: 400px;
    background-image: url("./images/fondo.jpg");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  img{
    display:block;
    margin:auto;
    max-width: 50%;
    max-height: 50%;
    }

